* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Tampilan Utama */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

/* Kotak Kalkulator */
.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

/* Input Angka */
Input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Tombol */
button {
  background: #007bff;
  color: white;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

/* Efek tombol saat ditekan */
button:active {
  transform: scale(0.9);
  transition: transform 0.1s;
}

/* Tombol reset dengan warna merah */
.reset-btn {
  background-color: #dc3545;
}

.reset-btn:hover {
  background-color: #a71d2a;
}
